h1 {
    color: red;
}

body {
    background-color: red;
    font-family: "Quicksand", sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0;
  }
